<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcc.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:name="com.tcc.app.AppClass"
        android:allowBackup="true"
        android:icon="@mipmap/new_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/new_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.RMEnterPrise"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.tcc.app.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.RMEnterPrise.NoActionBar" />

        <activity
            android:name="com.tcc.app.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tcc.app.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddEmployeeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.CustomerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.EmployeeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddInspectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddPenaltyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddLeadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddSiteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.FullscreenSingleImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.PenaltyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tcc.app.activity.TicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.LeadDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddQuotationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.SalaryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.InspectionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddRoomAllocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddUniformActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddTrainingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.SiteAttendanceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddInvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tcc.app.activity.AddPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddTeamDefinitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TeamDefinitionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddLeadReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddSalaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddUploadDocument"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditUploadDocument"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragment.ProfileMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DocumentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddGlobalAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.WelComeActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>