<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcc.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:name="com.tcc.app.AppClass"
        android:allowBackup="true"
        android:icon="@mipmap/new_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_icon"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.RMEnterPrise">
        <activity android:name="com.tcc.app.activity.AddEmployeeActivity" />
        <activity android:name="com.tcc.app.activity.CustomerDetailActivity" />
        <activity
            android:name="com.tcc.app.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.RMEnterPrise.NoActionBar" />
        <activity android:name="com.tcc.app.activity.ForgotPasswordActivity" />
        <activity android:name="com.tcc.app.activity.LoginActivity" />
        <activity android:name="com.tcc.app.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tcc.app.activity.MainActivity" />
        <activity android:name="com.tcc.app.activity.EmployeeDetailActivity" />
        <activity android:name="com.tcc.app.activity.AddInspectionActivity" />
        <activity android:name="com.tcc.app.activity.AddPenaltyActivity" />
        <activity android:name="com.tcc.app.activity.AddLeadActivity" />
        <activity android:name="com.tcc.app.activity.AddSiteActivity" />
        <activity android:name="com.tcc.app.activity.LeadDetailActivity" />
        <activity android:name="com.tcc.app.activity.AddQuotationActivity" />
        <activity android:name="com.tcc.app.activity.SalaryDetailActivity" />
        <activity android:name="com.tcc.app.activity.InspectionDetailActivity" />
        <activity android:name="com.tcc.app.activity.NotificationActivity" />
        <activity android:name="com.tcc.app.activity.InformationActivity" />
        <activity android:name="com.tcc.app.activity.ChangePasswordActivity" />
        <activity android:name="com.tcc.app.activity.AddRoomAllocationActivity" />
        <activity android:name="com.tcc.app.activity.AddUniformActivity" />
        <activity android:name="com.tcc.app.activity.AddTrainingActivity" />
        <activity android:name="com.tcc.app.activity.AddAttendanceActivity" />
        <activity android:name="com.tcc.app.activity.AddTicketActivity" />
        <activity android:name=".activity.AddInvoiceActivity" />
        <activity android:name="com.tcc.app.activity.AddPaymentActivity" />
        <activity android:name=".activity.AddTeamDefinitionActivity" />
        <activity android:name=".activity.TeamDefinitionListActivity" />
        <activity android:name=".activity.AddLeadReminderActivity" />
        <activity android:name=".activity.AddSalaryActivity" />
        <activity android:name=".activity.AddUploadDocument"/>
        <activity android:name=".activity.EditUploadDocument"/>
        <activity android:name=".activity.DocumentListActivity"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>